[Desktop Entry]
Name=Pekka Kana 2
Comment=2D Oldschool platform game where you control a rooster named Pekka
Exec=pekka-kana-2
Keywords=game;adventure;action;platforms;
Terminal=false
Type=Application
Icon=pekka-kana-2
Categories=Game;AdventureGame;ActionGame;
